.fahasa-logo-1-icon {
    width: 479px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
  }
  .blacklist-1-icon {
    height: 45px;
    width: 45px;
    position: relative;
    object-fit: cover;
  }
  .menu {
    position: absolute;
    background-color: #f0f0f0; /* Màu nền xám nhạt */
    border: 2px solid #ccc; /* Tăng độ dày border */
    padding: 15px; /* Tăng padding */
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng đậm hơn */
  }
  
  .menu a {
    display: block;
    padding: 8px; /* Tăng padding cho các mục */
    text-decoration: none;
    color: #333;
    font-size: 16px; /* Tăng kích thước chữ */
    transition: background-color 0.3s;
  }
  
  .menu a:hover {
    background-color: #e0e0e0;
  }
  .frame-child,
  .nhp-t-kha {
    position: relative;
    max-width: 100%;
  }
  .frame-child {
    height: 48px;
    width: 383px;
    background-color: var(--color-gainsboro-100);
    display: none;
  }
  .nhp-t-kha {
    flex: 1;
    display: inline-block;
    text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
      0-1px 0 transparent;
    z-index: 1;
  }
  .rectangle-parent {
    flex: 1;
    background-color: var(--color-gainsboro-100);
    flex-direction: row;
    align-items: flex-start;
    padding: 10.6px 0 6.7px 13px;
    box-sizing: border-box;
    min-width: 249px;
  }
  .rectangle-parent,
  .register-button,
  .register-button-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .register-button {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-2xl);
  }
  .register-button-wrapper {
    width: 449px;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0 0;
    box-sizing: border-box;
  }
  .key-icon-1 {
    height: 33px;
    width: 33px;
    position: relative;
    object-fit: cover;
  }
  .ng-k {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 75px;
  }
  .lock-icon,
  .login-button,
  .ng-k-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ng-k-wrapper {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .lock-icon,
  .login-button {
    flex-direction: row;
  }
  .login-button {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .lock-1-icon {
    height: 29px;
    width: 30px;
    position: relative;
    object-fit: cover;
    min-height: 29px;
  }
  .ng-nhp {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 104px;
  }
  .ng-nhp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .lock-1-parent {
    justify-content: flex-start;
    gap: 7px;
  }
  .frame-parent,
  .lock-1-parent,
  .login-button-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .login-button-parent {
    justify-content: flex-start;
    gap: 49px;
    color: var(--color-white);
  }
  .frame-parent {
    align-self: stretch;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .fahasa-logo-1-parent,
  .header,
  .header-right {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .header-right {
    width: 865px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 7px;
    min-width: 865px;
  }
  .fahasa-logo-1-parent,
  .header {
    flex-direction: row;
  }
  .fahasa-logo-1-parent {
    flex: 1;
    background-color: var(--color-crimson);
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 11px var(--padding-12xl) var(--padding-5xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .header {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xl);
  }
  .frame-item {
    width: 1663px;
    position: relative;
    background-color: var(--color-gray-100);
    height: 48px;
    display: none;
  }
  .trang-ch {
    width: 1547.5px;
    border: 0;
    outline: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    display: inline-block;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.36), 0 1px 0 rgba(0, 0, 0, 0.36),
      -1px 0 0 rgba(0, 0, 0, 0.36), 0-1px 0 rgba(0, 0, 0, 0.36);
    z-index: 1;
  }
  .rectangle-group,
  .root-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .rectangle-group {
    height: 48px;
    width: 1663px;
    background-color: var(--color-gray-100);
    justify-content: flex-end;
    padding: var(--padding-4xs) 35px 10px;
  }
  .root-inner {
    align-self: stretch;
    height: 78px;
    justify-content: flex-start;
    padding: 0 0 30px;
    min-width: 250px;
  }
  .product-details-child,
  .product-image-child {
    position: relative;
    display: none;
    max-width: 100%;
  }
  .product-details-child {
    align-self: stretch;
    width: 1708.9px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .product-image-child {
    height: 625px;
    width: 754.4px;
    background-color: var(--color-gainsboro-200);
  }
  .nguphap-1-icon {
    height: 442px;
    width: 299px;
    position: relative;
    object-fit: cover;
    z-index: 2;
  }
  .product-image {
    height: 625px;
    width: 754.4px;
    background-color: var(--color-gainsboro-200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-42xl) 216px;
    box-sizing: border-box;
    min-width: 754.4px;
    max-width: 100%;
    z-index: 1;
  }
  .ng-php-ting {
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .long-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .ng-php-ting1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    z-index: 1;
  }
  .grammar-title,
  .short-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .short-description {
    flex: 1;
    flex-direction: column;
  }
  .grammar-title {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 26px 16px;
    box-sizing: border-box;
    text-align: left;
  }
  .div,
  .s-lng {
    position: relative;
    z-index: 1;
  }
  .div {
    width: 175.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .s-lng {
    display: inline-block;
    min-width: 126px;
  }
  .s-lng-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0;
  }
  .frame-inner {
    height: 50px;
    width: 124px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .quantity-value {
    flex: 1;
    position: relative;
    line-height: 28.3px;
    z-index: 1;
  }
  .rectangle-container {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) 55px;
    z-index: 1;
  }
  .quantity-label {
    flex: 1;
    flex-direction: row;
    gap: 33px;
  }
  .english-grammar,
  .quantity-label,
  .quantity-label-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quantity-label-wrapper {
    width: 317px;
    flex-direction: row;
    padding: 0 var(--padding-mid);
    box-sizing: border-box;
    font-size: var(--font-size-9xl);
  }
  .english-grammar {
    align-self: stretch;
    flex-direction: column;
    gap: 36px;
    max-width: 100%;
  }
  .rectangle-div,
  .thm-vo-gi {
    position: relative;
    max-width: 100%;
  }
  .rectangle-div {
    height: 60px;
    width: 493.1px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .thm-vo-gi {
    height: 57px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.71), 0 1px 0 rgba(0, 0, 0, 0.71),
      -1px 0 0 rgba(0, 0, 0, 0.71), 0-1px 0 rgba(0, 0, 0, 0.71);
    z-index: 1;
  }
  .group-div,
  .product-name-inner {
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
  }
  .group-div {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-4xs) 0;
    white-space: nowrap;
    z-index: 1;
  }
  .product-name-inner {
    width: 527.2px;
    padding: 0 var(--padding-mid);
    font-size: var(--font-size-9xl);
  }
  .product-details,
  .product-info,
  .product-name,
  .product-name-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-name {
    align-self: stretch;
    flex-direction: column;
    gap: 81px;
    max-width: 100%;
  }
  .product-details,
  .product-info {
    box-sizing: border-box;
  }
  .product-info {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-3xl) 0 0;
    min-width: 539px;
    max-width: 100%;
  }
  .product-details {
    width: 1708.9px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    flex-direction: row;
    padding: 0 var(--padding-4xs) 0 29px;
    gap: 84px;
    max-width: 103%;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .sn-phm-cng {
    position: relative;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.84), 0 1px 0 rgba(0, 0, 0, 0.84),
      -1px 0 0 rgba(0, 0, 0, 0.84), 0-1px 0 rgba(0, 0, 0, 0.84);
  }
  .product-grid-child {
    height: 449px;
    width: 1308px;
    position: relative;
    background-color: var(--color-gainsboro-300);
    display: none;
    max-width: 100%;
  }
  .frame-child1 {
    align-self: stretch;
    height: 399px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .chinhphuc-1-icon {
    height: 232px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
  }
  .product-details1 {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 44px;
    box-sizing: border-box;
  }
  .chinh-phc-ting {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .product-items {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .div1 {
    position: relative;
    display: inline-block;
    min-width: 114px;
    z-index: 1;
  }
  .price-tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 76px;
    color: var(--color-crimson);
  }
  .frame-child2,
  .rectangle-parent1 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent1 {
    width: 266.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-28xl) 0 var(--padding-7xs);
    gap: var(--gap-10xl);
    z-index: 1;
  }
  .frame-child2 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .combo-3-cuon-25-chuyen-de-ngu-icon {
    height: 232px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
  }
  .combo-3-cuon-25-chuyen-de-ngu-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-28xl) 0 var(--padding-21xl);
  }
  .chuyn-ting {
    position: relative;
    z-index: 1;
  }
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .div2 {
    position: relative;
    display: inline-block;
    min-width: 117px;
    z-index: 1;
  }
  .wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-45xl) 0 68px;
    color: var(--color-crimson);
  }
  .frame-child3,
  .rectangle-parent2 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-28xl) 23px var(--padding-7xs) var(--padding-2xl);
    gap: var(--gap-10xl);
    min-width: 192px;
    z-index: 1;
  }
  .frame-child3 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .camnang-1-icon {
    height: 232px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
  }
  .camnang-1-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 38px 0 42px;
  }
  .cm-nang-ting {
    position: relative;
    z-index: 1;
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .div3 {
    position: relative;
    display: inline-block;
    min-width: 118px;
    z-index: 1;
  }
  .container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 60px 0 var(--padding-45xl);
    color: var(--color-crimson);
  }
  .frame-child4,
  .rectangle-parent3 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    flex: 0.9719;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-28xl) 27px var(--padding-7xs) var(--padding-5xl);
    gap: var(--gap-10xl);
    min-width: 192px;
    z-index: 1;
  }
  .frame-child4 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .sach-combo-vstep-chinh-phuc-ky-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .combo-vstep {
    position: relative;
    z-index: 1;
  }
  .sach-combo-vstep-chinh-phuc-ky-parent {
    align-self: stretch;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .div4 {
    position: relative;
    display: inline-block;
    min-width: 118px;
    z-index: 1;
  }
  .frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-xl) 0 28px;
    color: var(--color-crimson);
  }
  .rectangle-parent4 {
    flex: 0.6667;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-28xl) 66px var(--padding-7xs) var(--padding-42xl);
    gap: var(--gap-10xl);
    min-width: 192px;
    z-index: 1;
  }
  .product-grid {
    align-self: stretch;
    background-color: var(--color-gainsboro-300);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-6xl) var(--padding-xl) var(--padding-6xl)
      var(--padding-3xl);
    box-sizing: border-box;
    gap: 38.2px;
    font-size: var(--font-size-5xl);
  }
  .product-grid,
  .products-title,
  .related-products-title {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .products-title {
    width: 1308px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-2xl);
  }
  .related-products-title {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-4xs) var(--padding-2xl);
    box-sizing: border-box;
  }
  .quangcao-1-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .h-tr {
    margin: 0;
  }
  .chnh-sch-i {
    text-decoration: underline;
  }
  .chnh-sch-i-tr-hon-ti2 {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti1 {
    margin-bottom: 0;
  }
  .chnh-sch-bo {
    text-decoration: underline;
  }
  .chnh-sch-bo-hnh-bi-hon1 {
    color: inherit;
  }
  .chnh-sch-bo-hnh-bi-hon {
    margin-bottom: 0;
  }
  .chnh-sch-vn {
    text-decoration: underline;
  }
  .chnh-sch-vn-chuyn1 {
    color: inherit;
  }
  .chnh-sch-vn-chuyn {
    margin-bottom: 0;
  }
  .chnh-sch-khch {
    text-decoration: underline;
  }
  .chnh-sch-khch-s1 {
    color: inherit;
  }
  .chnh-sch-khch-s {
    margin-bottom: 0;
  }
  .phng-thc-thanh {
    text-decoration: underline;
  }
  .phng-thc-thanh-ton-v-xut {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-200);
  }
  .h-tr-chnh-container {
    align-self: stretch;
    position: relative;
  }
  .support-info {
    width: 301px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 301px;
  }
  .dch-v {
    margin: 0;
  }
  .iu-khon-s {
    text-decoration: underline;
  }
  .iu-khon-s-dng1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thng-tin-c,
  .iu-khon-s-dng {
    margin-bottom: 0;
  }
  .chnh-sch-bo1 {
    text-decoration: underline;
  }
  .chnh-sch-bo-mt-thanh-ton1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thanh-ton {
    margin-bottom: 0;
  }
  .gii-thiu-fahasa1 {
    text-decoration: underline;
  }
  .gii-thiu-fahasa {
    color: inherit;
  }
  .iu-khon-s-dng-chnh-sch-b {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-300);
  }
  .dch-v-iu-container {
    position: relative;
  }
  .services-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 317px;
  }
  .like-nhn {
    position: relative;
  }
  .services {
    justify-content: flex-start;
    gap: 76px;
    min-width: 664px;
  }
  .footer,
  .services,
  .support {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .support {
    width: 1100px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .footer {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .related-products,
  .root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .related-products {
    align-self: stretch;
    gap: 86px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .root {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 0 0 75px;
    box-sizing: border-box;
    gap: 13px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1400px) {
    .header-right {
      flex: 1;
    }
    .fahasa-logo-1-parent {
      flex-wrap: wrap;
    }
    .nguphap-1-icon,
    .product-image {
      flex: 1;
    }
    .product-details {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1200px) {
    .header-right,
    .product-image {
      min-width: 100%;
    }
    .product-name {
      gap: 40px;
    }
    .product-grid {
      flex-wrap: wrap;
    }
    .services,
    .support-info {
      flex: 1;
    }
    .support {
      flex-wrap: wrap;
    }
    .related-products {
      gap: 43px;
    }
  }
  @media screen and (max-width: 825px) {
    .frame-parent {
      flex-wrap: wrap;
    }
    .product-image {
      padding: var(--padding-21xl) 108px;
      box-sizing: border-box;
    }
    .div,
    .ng-php-ting {
      font-size: var(--font-size-7xl);
    }
    .product-info {
      min-width: 100%;
    }
    .product-details {
      gap: 42px;
    }
    .product-grid {
      gap: var(--gap-lgi);
    }
    .services-info {
      flex: 1;
    }
    .services {
      gap: 38px;
      flex-wrap: wrap;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .nhp-t-kha {
      font-size: var(--font-size-base);
    }
    .register-button {
      flex-wrap: wrap;
    }
    .ng-nhp {
      font-size: var(--font-size-base);
    }
    .login-button-parent {
      gap: 24px;
    }
    .trang-ch {
      font-size: var(--font-size-lgi);
    }
    .product-image {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .div,
    .ng-php-ting,
    .ng-php-ting1 {
      font-size: var(--font-size-lgi);
    }
    .quantity-value,
    .s-lng {
      font-size: var(--font-size-3xl);
    }
    .quantity-value {
      line-height: 23px;
    }
    .quantity-label {
      gap: 16px;
    }
    .english-grammar {
      gap: 18px;
    }
    .product-name {
      gap: var(--gap-xl);
    }
    .product-details {
      gap: var(--gap-2xl);
    }
    .sn-phm-cng {
      font-size: var(--font-size-3xl);
    }
    .product-details1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .chinh-phc-ting,
    .div1 {
      font-size: var(--font-size-lgi);
    }
    .price-tags {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .rectangle-parent1 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .chuyn-ting,
    .div2 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent2 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .cm-nang-ting,
    .div3 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent3 {
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .combo-vstep,
    .div4 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent4 {
      padding: var(--padding-12xl) var(--padding-xl) var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .product-grid {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .like-nhn {
      font-size: var(--font-size-base);
    }
    .services {
      gap: var(--gap-lgi);
    }
    .related-products {
      gap: var(--gap-2xl);
    }
  }