body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.76);

  /* Paddings */
  --padding-7xs: 6px;
}