body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-kanit: Kanit;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-crimson: #d52c2c;
  --color-salmon: #ef6c63;
  --color-gray-100: rgba(0, 0, 0, 0.79);
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-17xl: 36px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-14xl: 33px;
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-6xl: 25px;
  --padding-lg: 18px;
}