.fahasa-logo-1-icon {
  width: 479px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.blacklist-1-icon {
  height: 45px;
  width: 45px;
  position: relative;
  object-fit: cover;
}
.menu {
  position: absolute;
  background-color: #f0f0f0; /* Màu nền xám nhạt */
  border: 2px solid #ccc; /* Tăng độ dày border */
  padding: 15px; /* Tăng padding */
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng đậm hơn */
}

.menu a {
  display: block;
  padding: 8px; /* Tăng padding cho các mục */
  text-decoration: none;
  color: #333;
  font-size: 16px; /* Tăng kích thước chữ */
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #e0e0e0;
}

.frame-child,
.nhp-t-kha {
  position: relative;
  max-width: 100%;
}
.frame-child {
  height: 48px;
  width: 383px;
  background-color: var(--color-gainsboro);
  display: none;
}
.nhp-t-kha {
  flex: 1;
  display: inline-block;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
  z-index: 1;
}
.navigation-grandchild,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-gainsboro);
  align-items: flex-start;
  padding: 10.6px 0 6.7px var(--padding-smi);
  box-sizing: border-box;
  min-width: 249px;
}
.navigation-grandchild {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-2xl);
}
.navigation-grandchild-wrapper {
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 45px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.key-icon-1 {
  height: 33px;
  width: 33px;
  position: relative;
  object-fit: cover;
}
.ng-k {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 75px;
}
.category-list,
.main-content,
.registration-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-list {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.main-content,
.registration-button {
  flex-direction: row;
}
.main-content {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.lock-1-icon {
  height: 29px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 29px;
}
.ng-nhp {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.account,
.login {
  justify-content: flex-start;
}
.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 0 0;
}
.login {
  gap: 7px;
}
.login,
.navigation,
.user-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user-actions {
  justify-content: flex-start;
  gap: 49px;
  color: var(--color-white);
}
.navigation {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.fahasa-logo-1-parent,
.navigation-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.navigation-wrapper {
  width: 865px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 7px;
  min-width: 865px;
}
.fahasa-logo-1-parent {
  align-self: stretch;
  background-color: var(--color-crimson);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-xs) 11px 31px var(--padding-5xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.trang-ch a{
  position: relative;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.foreign-language-books {
  width: 642px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.danh-mc {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.38), 0 1px 0 rgba(0, 0, 0, 0.38),
    -1px 0 0 rgba(0, 0, 0, 0.38), 0-1px 0 rgba(0, 0, 0, 0.38);
}
.danh-mc,
.sch-cp-tham a{
  align-self: stretch;
  position: relative;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.sch-thiu-nhi a{
  flex: 1;
  position: relative;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.category-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  color: rgba(0, 0, 0, 0.78);
}
.sch-ngoi-ng a{
  flex: 1;
  position: relative;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.childrens-books {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  color: rgba(0, 0, 0, 0.8);
}
.sch-kinh-doanh a{
  align-self: stretch;
  position: relative;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.category-list1,
.danh-mc-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-list1 {
  width: 298px;
  gap: 51px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.danh-mc-parent {
  width: 289px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 84px;
  gap: 85px;
}
.frame-item,
.sch-tham-kho {
  position: relative;
  max-width: 100%;
}
.frame-item {
  height: 54px;
  width: 1021px;
  background-color: var(--color-salmon);
  display: none;
}
.sch-tham-kho {
  flex: 1;
  display: inline-block;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.38), 0 1px 0 rgba(0, 0, 0, 0.38),
    -1px 0 0 rgba(0, 0, 0, 0.38), 0-1px 0 rgba(0, 0, 0, 0.38);
  z-index: 1;
}
.rectangle-group {
  margin-top: -88px;
  margin-left: -37px;
  width: 1021px;
  background-color: var(--color-salmon);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-lg) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 104%;
  flex-shrink: 0;
}
.phuongphapgiaivatlitheochuyend-icon {
  height: 291px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.phuongphapgiaivatlitheochuyend-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.phuongphapgiaivatlitheochuyend-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 9px;
}
.bi-tp-vt {
  flex: 1;
  position: relative;
}
.bi-tp-vt-l-11-wrapper {
  width: 215px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-6xl);
  box-sizing: border-box;
}
.a {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.wrapper {
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.bai-tap-tieng-anh-12-khong-dap-icon {
  height: 283px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bai-tap-tieng-anh-12-khong-dap-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.geography-exercises-price {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 var(--padding-lg);
}
.bi-tp-ting {
  align-self: stretch;
  position: relative;
}
.div {
  flex: 1;
  position: relative;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl);
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
}
.bi-tp-ting-anh-12-parent {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.bi-tp-ting-anh-12-parent,
.frame-container,
.geography-exercises-price-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.geography-exercises-price-parent {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-container {
  width: 224px;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  gap: 26px;
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
  font-family: var(--font-kanit);
}
.nguvan12-1-icon {
  height: 285px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nguvan12-1-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.nguvan12-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px var(--padding-6xl) var(--padding-lg);
}
.n-luyn-ng {
  align-self: stretch;
  position: relative;
}
.div1 {
  width: 205px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-kanit);
  color: var(--color-crimson);
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-luyn-ng-vn-12-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.biology-exercises-price,
.biology-exercises-price-inner,
.n-luyn-ng-vn-12-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.biology-exercises-price-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xs);
}
.biology-exercises-price {
  width: 231px;
  flex-direction: column;
  gap: var(--gap-xl);
}
.sach-phuong-phap-giai-toan-chu-icon {
  height: 272px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sach-phuong-phap-giai-toan-chu-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.sach-phuong-phap-giai-toan-chu-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 34px 0 var(--padding-mini);
}
.bi-tp-hnh {
  flex: 1;
  position: relative;
}
.bi-tp-hnh-hc-11-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
}
.a1 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.frame {
  width: 196px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.toan12-1-icon {
  width: 203px;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.toan12-1-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.bi-tp-ton,
.toan12-1-icon {
  flex: 1;
  position: relative;
}
.bi-tp-ton-12-wrapper,
.toan12-1-parent {
  align-self: stretch;
  justify-content: flex-start;
}
.bi-tp-ton-12-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.toan12-1-parent {
  flex-direction: column;
  gap: var(--gap-2xl);
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent1,
.frame-wrapper1,
.toan12-1-parent {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29px;
}
.frame-wrapper1 {
  width: 226px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 41px;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
  font-family: var(--font-kanit);
}
.div2 {
  flex: 1;
  position: relative;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-11xs);
}
.sinh12-1-icon {
  height: 285px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sinh12-1-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.frame-parent2,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 38px;
}
.frame-wrapper2 {
  width: 222px;
  height: 386px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) var(--padding-14xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
}
.bi-dng-hsg {
  align-self: stretch;
  position: relative;
}
.div3 {
  flex: 1;
  position: relative;
}
.wrapper2 {
  width: 204px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
  font-family: var(--font-kanit);
}
.bi-dng-hsg-sinh-hc-12-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18px;
}
.frame-wrapper3 {
  width: 233px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.biology-exercises-title-inner,
.frame-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.biology-exercises-title-inner {
  height: 1380px;
  width: 282px;
  align-items: flex-start;
  padding: var(--padding-lgi) 30px 0 0;
  box-sizing: border-box;
}
.cau-hoi-va-bai-tap-boi-duong-h-icon {
  height: 272px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cau-hoi-va-bai-tap-boi-duong-h-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.cau-hoi-va-bai-tap-boi-duong-h-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
}
.bi-tp-a {
  align-self: stretch;
  position: relative;
}
.frame-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.frame-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) var(--padding-mini) 0;
}
.div4 {
  flex: 1;
  position: relative;
}
.wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px 0 var(--padding-4xl);
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
  font-family: var(--font-kanit);
}
.hoa12-1-icon {
  width: 203px;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hoa12-1-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.a2,
.bi-tp-ha,
.hoa12-1-icon {
  position: relative;
}
.bi-tp-ha {
  align-self: stretch;
}
.a2 {
  text-decoration: none;
  flex: 1;
  color: inherit;
}
.wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi) 0 var(--padding-11xs);
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
}
.hoa12-1-parent {
  width: 204px;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-2xl);
}
.biology-exercises-title-child,
.frame-parent3,
.hoa12-1-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-9xl);
}
.biology-exercises-title-child {
  height: 875px;
  width: 217px;
  align-items: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.biology-exercises-title {
  width: 904px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.frame-group {
  align-self: stretch;
  height: 1502px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 86px 0 var(--padding-17xl) 35px;
  gap: 34px;
  max-width: 100%;
}
.frame-group,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 353px);
  font-size: var(--font-size-9xl);
}
.frame-parent {
  width: 1372px;
  flex-direction: row;
  gap: 64px;
  max-width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.navigation-and-content,
.root {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.navigation-and-content {
  width: 1610px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 336px;
  gap: 20.5px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: rgba(0, 0, 0, 0.66);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1400px) {
  .navigation-wrapper {
    flex: 1;
  }
  .fahasa-logo-1-parent {
    flex-wrap: wrap;
  }
  .frame-group {
    padding-top: 56px;
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .navigation-wrapper {
    min-width: 100%;
  }
  .danh-mc-parent {
    display: none;
  }
  .biology-exercises-title {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-group {
    height: auto;
  }
  .frame-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .navigation {
    flex-wrap: wrap;
  }
  .danh-mc-parent {
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-mid);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .nhp-t-kha {
    font-size: var(--font-size-base);
  }
  .navigation-grandchild {
    flex-wrap: wrap;
  }
  .ng-nhp {
    font-size: var(--font-size-base);
  }
  .user-actions {
    gap: 24px;
  }
  .trang-ch {
    font-size: var(--font-size-lgi);
  }
  .danh-mc {
    font-size: var(--font-size-xl);
  }
  .sch-cp-tham,
  .sch-kinh-doanh,
  .sch-ngoi-ng,
  .sch-thiu-nhi {
    font-size: var(--font-size-lgi);
  }
  .category-list1 {
    gap: 25px;
  }
  .danh-mc-parent {
    gap: 42px;
  }
  .bi-tp-vt,
  .sch-tham-kho {
    font-size: var(--font-size-3xl);
  }
  .a {
    font-size: var(--font-size-lgi);
  }
  .bi-tp-ting {
    font-size: var(--font-size-3xl);
  }
  .div {
    font-size: var(--font-size-lgi);
  }
  .n-luyn-ng {
    font-size: var(--font-size-3xl);
  }
  .div1 {
    font-size: var(--font-size-lgi);
  }
  .bi-tp-hnh {
    font-size: var(--font-size-3xl);
  }
  .a1 {
    font-size: var(--font-size-lgi);
  }
  .bi-tp-ton {
    font-size: var(--font-size-3xl);
  }
  .frame-wrapper1 {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
  .div2 {
    font-size: var(--font-size-lgi);
  }
  .bi-dng-hsg {
    font-size: var(--font-size-3xl);
  }
  .div3 {
    font-size: var(--font-size-lgi);
  }
  .bi-tp-a {
    font-size: var(--font-size-3xl);
  }
  .div4 {
    font-size: var(--font-size-lgi);
  }
  .bi-tp-ha {
    font-size: var(--font-size-3xl);
  }
  .a2 {
    font-size: var(--font-size-lgi);
  }
  .frame-group {
    padding-top: var(--padding-4xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 16px;
  }
}