.fahasa-logo-1-icon {
    width: 479px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .blacklist-1-icon {
    height: 45px;
    width: 45px;
    position: relative;
    object-fit: cover;
  }
  .frame-child,
  .nhp-t-kha {
    position: relative;
    max-width: 100%;
  }
  .frame-child {
    height: 48px;
    width: 383px;
    background-color: var(--color-gainsboro-100);
    display: none;
  }
  .nhp-t-kha {
    flex: 1;
    display: inline-block;
    text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
      0-1px 0 transparent;
    z-index: 1;
  }
  .rectangle-parent {
    flex: 1;
    background-color: var(--color-gainsboro-100);
    flex-direction: row;
    align-items: flex-start;
    padding: 10.6px 0 6.7px var(--padding-smi);
    box-sizing: border-box;
    min-width: 249px;
  }
  .blacklist-1-parent,
  .frame-wrapper,
  .rectangle-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .blacklist-1-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-2xl);
  }
  .frame-wrapper {
    width: 449px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-26xl) 0 0;
    box-sizing: border-box;
  }
  .key-icon-1 {
    height: 33px;
    width: 33px;
    position: relative;
    object-fit: cover;
  }
  .ng-k {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 75px;
  }
  .ng-k-wrapper,
  .register-icon-parent,
  .register-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ng-k-wrapper {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .register-icon-parent,
  .register-parent {
    flex-direction: row;
  }
  .register-parent {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .lock-1-icon {
    height: 29px;
    width: 30px;
    position: relative;
    object-fit: cover;
    min-height: 29px;
  }
  .ng-nhp {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 104px;
  }
  .ng-nhp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .login-parent {
    justify-content: flex-start;
    gap: 7px;
  }
  .frame-parent,
  .login-parent,
  .login-register-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .login-register-parent {
    justify-content: flex-start;
    gap: 49px;
    color: var(--color-white);
  }
  .frame-parent {
    align-self: stretch;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .empty,
  .empty-wrapper,
  .search-bar-parent {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .search-bar-parent {
    width: 865px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 7px;
    min-width: 865px;
  }
  .empty,
  .empty-wrapper {
    flex-direction: row;
  }
  .empty {
    flex: 1;
    background-color: var(--color-crimson);
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 11px var(--padding-12xl) var(--padding-5xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .empty-wrapper {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xl);
  }
  .frame-item,
  .trang-ch {
    position: relative;
    max-width: 100%;
  }
  .frame-item {
    height: 48px;
    width: 1663px;
    background-color: var(--color-gray-100);
    display: none;
  }
  .trang-ch {
    width: 1547.5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.36), 0 1px 0 rgba(0, 0, 0, 0.36),
      -1px 0 0 rgba(0, 0, 0, 0.36), 0-1px 0 rgba(0, 0, 0, 0.36);
    z-index: 1;
  }
  .trang-ch a {
    position: relative;
    max-width: 100%;
      text-decoration: none; /* Loại bỏ gạch dưới */
      color: inherit; /* Dùng màu chữ của phần tử cha */
  
  }
  .rectangle-group,
  .root-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-group {
    flex: 1;
    background-color: var(--color-gray-100);
    justify-content: flex-end;
    padding: var(--padding-4xs) 35px 10px;
  }
  .root-inner {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl);
  }
  .div,
  .dn-dt-s,
  .dn-dt-s1 {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .div {
    top: 236px;
    left: 832px;
    font-size: var(--font-size-13xl);
    justify-content: center;
    width: 175.7px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .dn-dt-s,
  .dn-dt-s1 {
    text-align: left;
  }
  .dn-dt-s {
    top: 70px;
    left: 839px;
    font-size: var(--font-size-5xl);
    width: 824px;
    height: 87px;
  }
  .dn-dt-s1 {
    top: 14px;
    left: 838px;
    font-size: var(--font-size-13xl);
    width: 436px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .frame-inner {
    height: 60px;
    width: 493.1px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .rectangle-container,
  .thm-vo-gi {
    display: flex;
    max-width: 100%;
    z-index: 1;
  }
  .thm-vo-gi {
    height: 57px;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.71), 0 1px 0 rgba(0, 0, 0, 0.71),
      -1px 0 0 rgba(0, 0, 0, 0.71), 0-1px 0 rgba(0, 0, 0, 0.71);
  }
  .rectangle-container {
    position: absolute;
    top: 445px;
    left: 839.1px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 493.1px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-4xs) 0;
    white-space: nowrap;
  }
  .book-image,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .book-image {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-div {
    background-color: var(--color-gainsboro-200);
    display: none;
  }
  .sach-dan-dat-su-thay-doi-l-1-icon {
    position: absolute;
    top: 53px;
    left: 193.4px;
    width: 326px;
    height: 452px;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .sach-dan-dat-su-thay-doi-l-1-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
  .book-image-parent,
  .frame-div {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .frame-div {
    left: 29.6px;
    background-color: var(--color-gainsboro-200);
    width: 754.4px;
    z-index: 1;
  }
  .book-image-parent {
    left: -46px;
    width: 1708.9px;
  }
  .frame-child1 {
    height: 50px;
    width: 124px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .div1 {
    flex: 1;
    position: relative;
    line-height: 28.3px;
    z-index: 1;
  }
  .group-div,
  .s-lng {
    position: absolute;
    z-index: 1;
  }
  .group-div {
    top: 314px;
    left: 998px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 124px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) var(--padding-36xl);
  }
  .s-lng {
    top: 322px;
    left: 839px;
    display: inline-block;
    min-width: 126px;
  }
  .parent {
    align-self: stretch;
    height: 625px;
    position: relative;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .sn-phm-cng {
    position: relative;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.84), 0 1px 0 rgba(0, 0, 0, 0.84),
      -1px 0 0 rgba(0, 0, 0, 0.84), 0-1px 0 rgba(0, 0, 0, 0.84);
  }
  .related-products-grid-child {
    height: 449px;
    width: 1308px;
    position: relative;
    background-color: var(--color-gainsboro-300);
    display: none;
    max-width: 100%;
  }
  .frame-child2 {
    width: 266.3px;
    height: 399px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .think-grow-rich-nghi-giau-va-l-icon {
    height: 234px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .think-grow-rich-nghi-giau-va-l-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
  .product-image-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xl);
  }
  .div2,
  .think-grow {
    position: relative;
    z-index: 1;
  }
  .think-grow {
    align-self: stretch;
  }
  .div2 {
    display: inline-block;
    min-width: 102px;
  }
  .product-decor-parent,
  .product-details-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-decor-parent {
    flex-direction: row;
    padding: 0 var(--padding-38xl) 0 56px;
    color: var(--color-crimson);
  }
  .product-details-parent {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-mini);
  }
  .frame-child3,
  .rectangle-parent1 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent1 {
    width: 266.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-26xl) var(--padding-5xl) var(--padding-7xs)
      var(--padding-6xl);
    gap: var(--gap-18xl);
    z-index: 1;
  }
  .frame-child3 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .camnangtaichinh-1-icon {
    height: 240px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .camnangtaichinh-1-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
  .camnangtaichinh-1-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 36px 0 var(--padding-10xl);
  }
  .cm-nang-ti,
  .div3 {
    position: relative;
    z-index: 1;
  }
  .div3 {
    display: inline-block;
    min-width: 103px;
  }
  .wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 64px 0 65px;
    color: var(--color-crimson);
  }
  .cm-nang-ti-chnh-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .frame-child4,
  .rectangle-parent2 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 39px var(--padding-11xl) var(--padding-7xs) var(--padding-12xl);
    gap: var(--gap-18xl);
    min-width: 192px;
    z-index: 1;
  }
  .frame-child4 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .quytac-1-icon {
    align-self: stretch;
    height: 239px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .quytac-1-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
  .div4,
  .quy-tc-s {
    position: relative;
    z-index: 1;
  }
  .div4 {
    width: 108px;
    display: inline-block;
    min-width: 108px;
  }
  .empty-product-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 17px 0 var(--padding-5xl);
    color: var(--color-crimson);
  }
  .quy-tc-s-1-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-smi) 0 14px;
  }
  .frame-child5,
  .rectangle-parent3 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    flex: 0.7586;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-26xl) 62px var(--padding-7xs) var(--padding-36xl);
    gap: 32px;
    min-width: 192px;
    z-index: 1;
  }
  .frame-child5 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .ketoan-1-icon {
    height: 239px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .ketoan-1-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}

  .ketoan-1-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-14xl) 0 27px;
  }
  .div5,
  .k-ton-hnh {
    position: relative;
    z-index: 1;
  }
  .div5 {
    display: inline-block;
    min-width: 115px;
  }
  .container,
  .k-ton-hnh-chnh-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    flex-direction: row;
    padding: 0 60px 0 var(--padding-38xl);
    color: var(--color-crimson);
  }
  .k-ton-hnh-chnh-parent {
    flex-direction: column;
    gap: var(--gap-mini);
  }
  .rectangle-parent4,
  .related-products-grid {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 28px var(--padding-7xs) var(--padding-14xl);
    gap: var(--gap-18xl);
    min-width: 192px;
    z-index: 1;
  }
  .related-products-grid {
    align-self: stretch;
    background-color: var(--color-gainsboro-300);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-6xl) var(--padding-xl) var(--padding-6xl) 22px;
    gap: 38.2px;
    max-width: 100%;
    font-size: var(--font-size-5xl);
  }
  .related-products-title-parent {
    width: 1308px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xl);
    max-width: 100%;
  }
  .related-products-title-parent-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-4xs) var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .quangcao-1-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .h-tr {
    margin: 0;
  }
  .chnh-sch-i {
    text-decoration: underline;
  }
  .chnh-sch-i-tr-hon-ti2 {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti1 {
    margin-bottom: 0;
  }
  .chnh-sch-bo {
    text-decoration: underline;
  }
  .chnh-sch-bo-hnh-bi-hon1 {
    color: inherit;
  }
  .chnh-sch-bo-hnh-bi-hon {
    margin-bottom: 0;
  }
  .chnh-sch-vn {
    text-decoration: underline;
  }
  .chnh-sch-vn-chuyn1 {
    color: inherit;
  }
  .chnh-sch-vn-chuyn {
    margin-bottom: 0;
  }
  .chnh-sch-khch {
    text-decoration: underline;
  }
  .chnh-sch-khch-s1 {
    color: inherit;
  }
  .chnh-sch-khch-s {
    margin-bottom: 0;
  }
  .phng-thc-thanh {
    text-decoration: underline;
  }
  .phng-thc-thanh-ton-v-xut {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-200);
  }
  .h-tr-chnh-container {
    align-self: stretch;
    position: relative;
  }
  .h-tr-chnh-sch-i-tr-wrapper {
    width: 301px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 301px;
  }
  .dch-v {
    margin: 0;
  }
  .iu-khon-s {
    text-decoration: underline;
  }
  .iu-khon-s-dng1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thng-tin-c,
  .iu-khon-s-dng {
    margin-bottom: 0;
  }
  .chnh-sch-bo1 {
    text-decoration: underline;
  }
  .chnh-sch-bo-mt-thanh-ton1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thanh-ton {
    margin-bottom: 0;
  }
  .gii-thiu-fahasa1 {
    text-decoration: underline;
  }
  .gii-thiu-fahasa {
    color: inherit;
  }
  .iu-khon-s-dng-chnh-sch-b {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-300);
  }
  .dch-v-iu-container {
    position: relative;
  }
  .dch-v-iu-khon-s-dng-ch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 317px;
  }
  .like-nhn {
    position: relative;
  }
  .services-parent {
    justify-content: flex-start;
    gap: 76px;
    min-width: 664px;
  }
  .footer,
  .services-parent,
  .support-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .support-parent {
    width: 1100px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .footer {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .frame-group,
  .root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--font-inter);
  }
  .frame-group {
    align-self: stretch;
    align-items: flex-end;
    gap: 86px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-black);
  }
  .root {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-start;
    padding: 0 0 75px;
    box-sizing: border-box;
    gap: 13px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: rgba(0, 0, 0, 0.9);
  }
  @media screen and (max-width: 1400px) {
    .search-bar-parent {
      flex: 1;
    }
    .empty {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1200px) {
    .search-bar-parent {
      min-width: 100%;
    }
    .related-products-grid {
      flex-wrap: wrap;
    }
    .h-tr-chnh-sch-i-tr-wrapper,
    .services-parent {
      flex: 1;
    }
    .support-parent {
      flex-wrap: wrap;
    }
    .frame-group {
      gap: 43px;
    }
  }
  @media screen and (max-width: 825px) {
    .frame-parent {
      flex-wrap: wrap;
    }
    .div,
    .dn-dt-s1 {
      font-size: var(--font-size-7xl);
    }
    .related-products-grid {
      gap: var(--gap-lgi);
    }
    .dch-v-iu-khon-s-dng-ch-wrapper {
      flex: 1;
    }
    .services-parent {
      gap: 38px;
      flex-wrap: wrap;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .nhp-t-kha {
      font-size: var(--font-size-base);
    }
    .blacklist-1-parent {
      flex-wrap: wrap;
    }
    .ng-nhp {
      font-size: var(--font-size-base);
    }
    .login-register-parent {
      gap: 24px;
    }
    .div,
    .dn-dt-s,
    .dn-dt-s1,
    .trang-ch {
      font-size: var(--font-size-lgi);
    }
    .div1 {
      line-height: 23px;
    }
    .div1,
    .s-lng,
    .sn-phm-cng {
      font-size: var(--font-size-3xl);
    }
    .div2,
    .think-grow {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent1 {
      gap: var(--gap-lg);
      padding-top: var(--padding-10xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .cm-nang-ti,
    .div3 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent2 {
      gap: var(--gap-lg);
      padding-top: var(--padding-6xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .div4,
    .quy-tc-s {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent3 {
      gap: 16px;
      padding: var(--padding-10xl) var(--padding-xl) var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .div5,
    .k-ton-hnh {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent4,
    .related-products-grid {
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .rectangle-parent4 {
      gap: var(--gap-lg);
      padding-top: var(--padding-7xl);
    }
    .related-products-grid {
      padding-top: var(--padding-xl);
    }
    .like-nhn {
      font-size: var(--font-size-base);
    }
    .services-parent {
      gap: var(--gap-lgi);
    }
    .frame-group {
      gap: var(--gap-2xl);
    }
  }