.fahasa-logo-1-icon {
  width: 479px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.blacklist-1-icon {
  height: 45px;
  width: 45px;
  position: relative;
  object-fit: cover;
}
.menu {
  position: absolute;
  background-color: #f0f0f0; /* Màu nền xám nhạt */
  border: 2px solid #ccc; /* Tăng độ dày border */
  padding: 15px; /* Tăng padding */
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng đậm hơn */
}

.menu a {
  display: block;
  padding: 8px; /* Tăng padding cho các mục */
  text-decoration: none;
  color: #333;
  font-size: 16px; /* Tăng kích thước chữ */
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #e0e0e0;
}
.frame-child,
.nhp-t-kha {
  position: relative;
  max-width: 100%;
}
.frame-child {
  height: 48px;
  width: 383px;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.nhp-t-kha {
  flex: 1;
  display: inline-block;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
  z-index: 1;
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  align-items: flex-start;
  padding: 10.6px 0 6.7px 13px;
  box-sizing: border-box;
  min-width: 249px;
}
.login-button,
.rectangle-parent,
.sub-menu {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sub-menu {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-2xl);
}
.login-button {
  width: 449px;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 0 0;
  box-sizing: border-box;
}
.key-icon-1 {
  height: 33px;
  width: 33px;
  position: relative;
  object-fit: cover;
}
.ng-k {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 75px;
}
.ng-k-wrapper,
.register-button,
.register-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ng-k-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.register-button,
.register-label {
  flex-direction: row;
}
.register-label {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.lock-1-icon {
  height: 29px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 29px;
}
.ng-nhp {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.login,
.ng-nhp-wrapper {
  justify-content: flex-start;
}
.ng-nhp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 0 0;
}
.login {
  gap: 7px;
}
.login,
.navigation,
.user-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user-actions {
  justify-content: flex-start;
  gap: 49px;
  color: var(--color-white);
}
.navigation {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.header,
.homepage,
.register {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.register {
  width: 865px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  min-width: 865px;
}
.header,
.homepage {
  flex-direction: row;
}
.header {
  flex: 1;
  background-color: var(--color-crimson);
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px var(--padding-2xs) var(--padding-12xl) var(--padding-5xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.homepage {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
}
.frame-item,
.trang-ch a{
  position: relative;
  max-width: 100%;
  text-decoration: none; /* Loại bỏ gạch dưới */
  color: inherit; /* Dùng màu chữ của phần tử cha */
}
.frame-item {
  height: 48px;
  width: 1663px;
  background-color: var(--color-gray-100);
  display: none;
}
.trang-ch {
  width: 1547.5px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.36), 0 1px 0 rgba(0, 0, 0, 0.36),
    -1px 0 0 rgba(0, 0, 0, 0.36), 0-1px 0 rgba(0, 0, 0, 0.36);
  z-index: 1;
}
.menu,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  flex: 1;
  background-color: var(--color-gray-100);
  justify-content: flex-end;
  padding: var(--padding-4xs) var(--padding-16xl) var(--padding-3xs);
}
.menu {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 30px;
}
.frame-inner,
.product-image-child {
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-inner {
  align-self: stretch;
  width: 1672.9px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.product-image-child {
  height: 625px;
  width: 738.5px;
  background-color: var(--color-gainsboro-200);
}
.phuongphapgiaivatlitheochuyend-icon {
  width: 300px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.phuongphapgiaivatlitheochuyend-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.product-image {
  height: 625px;
  width: 740px;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 47px var(--padding-xl);
  box-sizing: border-box;
  min-width: 738.5px;
  max-width: 100%;
  z-index: 1;
}
.bi-tp-vt,
.phng-php-gii {
  position: relative;
  z-index: 1;
}
.bi-tp-vt {
  width: 288px;
  display: flex;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.phng-php-gii {
  align-self: stretch;
  font-size: var(--font-size-5xl);
}
.bi-tp-vt-l-11-parent,
.book-subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bi-tp-vt-l-11-parent {
  flex: 1;
  flex-direction: column;
  gap: 17px;
}
.book-subtitle {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-20xl);
  box-sizing: border-box;
}
.div {
  width: 229.2px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.s-lng {
  position: relative;
  display: inline-block;
  min-width: 126px;
  z-index: 3;
}
.related-products-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.rectangle-div {
  height: 50px;
  width: 124px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.div1 {
  flex: 1;
  position: relative;
  line-height: 28.3px;
  z-index: 1;
}
.group-div {
  width: 124px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-36xl);
  z-index: 3;
}
.group-div,
.quantity-label,
.subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.quantity-label {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.subtitle {
  width: 380px;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child1,
.thm-vo-gi {
  position: relative;
  max-width: 100%;
}
.frame-child1 {
  height: 60px;
  width: 482.8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.thm-vo-gi {
  height: 57px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.71), 0 1px 0 rgba(0, 0, 0, 0.71),
    -1px 0 0 rgba(0, 0, 0, 0.71), 0-1px 0 rgba(0, 0, 0, 0.71);
  z-index: 1;
}
.quantity-value,
.rectangle-parent1 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent1 {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-4xs) 0;
  white-space: nowrap;
  z-index: 1;
}
.quantity-value {
  width: 561.3px;
  padding: 0 var(--padding-20xl);
}
.quantity,
.quantity-value,
.rectangle-container,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  flex-direction: column;
  gap: 61px;
  max-width: 100%;
}
.quantity,
.rectangle-container {
  box-sizing: border-box;
}
.quantity {
  flex: 1;
  flex-direction: column;
  padding: 27px 0 0;
  min-width: 550px;
  max-width: 100%;
}
.rectangle-container {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: 0 34px 0 0;
  gap: 59.5px;
  max-width: 102%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sn-phm-cng {
  position: relative;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.84), 0 1px 0 rgba(0, 0, 0, 0.84),
    -1px 0 0 rgba(0, 0, 0, 0.84), 0-1px 0 rgba(0, 0, 0, 0.84);
}
.related-products-list-child {
  height: 449px;
  width: 1308px;
  position: relative;
  background-color: var(--color-gainsboro-300);
  display: none;
  max-width: 100%;
}
.frame-child2 {
  align-self: stretch;
  height: 399px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.sach-phuong-phap-giai-toan-chu-icon {
  height: 258px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sach-phuong-phap-giai-toan-chu-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.social-media {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 40px 0 var(--padding-20xl);
}
.bi-tp-hnh,
.div2 {
  position: relative;
  z-index: 1;
}
.bi-tp-hnh {
  align-self: stretch;
}
.div2 {
  width: 110px;
  display: inline-block;
  min-width: 110px;
}
.product-titles,
.second-policy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.second-policy {
  flex-direction: row;
  padding: 0 78px 0 76px;
  color: var(--color-crimson);
}
.product-titles {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-10xl);
}
.frame-child3,
.rectangle-parent2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent2 {
  width: 266.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 26px 0 var(--padding-7xs);
  gap: var(--gap-lg);
  z-index: 1;
}
.frame-child3 {
  width: 295px;
  height: 399px;
  position: relative;
  display: none;
}
.cau-hoi-va-bai-tap-boi-duong-h-icon {
  width: 194px;
  height: 253px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cau-hoi-va-bai-tap-boi-duong-h-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.bi-tp-a,
.div3 {
  position: relative;
  z-index: 1;
}
.bi-tp-a {
  align-self: stretch;
}
.div3 {
  display: inline-block;
  min-width: 103px;
}
.first-policy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 36px 0 42px;
  color: var(--color-crimson);
}
.bi-tp-a-l-12-parent,
.frame-wrapper {
  display: flex;
  justify-content: flex-start;
}
.bi-tp-a-l-12-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-10xl);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-7xs);
}
.frame-child4,
.rectangle-parent3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent3 {
  flex: 0.8455;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) 48px var(--padding-7xs);
  gap: var(--gap-lg);
  min-width: 192px;
  z-index: 1;
}
.frame-child4 {
  width: 295px;
  height: 399px;
  position: relative;
  display: none;
}
.bai-tap-tieng-anh-12-khong-dap-icon {
  height: 253px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bai-tap-tieng-anh-12-khong-dap-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.bai-tap-tieng-anh-12-khong-dap-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) 0 23px;
}
.bi-tp-ting,
.div4 {
  position: relative;
  z-index: 1;
}
.bi-tp-ting {
  align-self: stretch;
}
.div4 {
  width: 110px;
  display: inline-block;
  min-width: 110px;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 59px 0 64px;
  color: var(--color-crimson);
}
.bi-tp-ting-anh-12-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.frame-child5,
.rectangle-parent4 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xl) 32px var(--padding-7xs) 28px;
  gap: var(--gap-lg);
  min-width: 192px;
  z-index: 1;
}
.frame-child5 {
  width: 295px;
  height: 399px;
  position: relative;
  display: none;
}
.toan12-1-icon {
  align-self: stretch;
  height: 253px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.toan12-1-icon:hover{
  transform: scale(1.1); /* Phóng to ảnh khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
}
.bi-tp-ton,
.div5,
.toan12-1-icon {
  position: relative;
  z-index: 1;
}
.bi-tp-ton {
  align-self: stretch;
}
.div5 {
  width: 110px;
  display: inline-block;
  min-width: 110px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 29px 0 var(--padding-16xl);
  color: var(--color-crimson);
}
.bi-tp-ton-12-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.frame-container,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 2px;
}
.rectangle-parent5 {
  flex: 0.8026;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-12xl) 51px var(--padding-7xs) var(--padding-36xl);
  gap: var(--gap-lg);
  min-width: 192px;
  z-index: 1;
}
.related-products-list {
  align-self: stretch;
  background-color: var(--color-gainsboro-300);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-6xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: 38.2px;
  font-size: var(--font-size-5xl);
}
.product-details,
.related-products-list,
.related-products-title1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-details {
  width: 1308px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.related-products-title1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-4xs) var(--padding-2xl);
  box-sizing: border-box;
}
.quangcao-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h-tr {
  margin: 0;
}
.chnh-sch-i {
  text-decoration: underline;
}
.chnh-sch-i-tr-hon-ti2 {
  color: inherit;
}
.chnh-sch-i-tr-hon-ti1 {
  margin-bottom: 0;
}
.chnh-sch-bo {
  text-decoration: underline;
}
.chnh-sch-bo-hnh-bi-hon1 {
  color: inherit;
}
.chnh-sch-bo-hnh-bi-hon {
  margin-bottom: 0;
}
.chnh-sch-vn {
  text-decoration: underline;
}
.chnh-sch-vn-chuyn1 {
  color: inherit;
}
.chnh-sch-vn-chuyn {
  margin-bottom: 0;
}
.chnh-sch-khch {
  text-decoration: underline;
}
.chnh-sch-khch-s1 {
  color: inherit;
}
.chnh-sch-khch-s {
  margin-bottom: 0;
}
.phng-thc-thanh {
  text-decoration: underline;
}
.phng-thc-thanh-ton-v-xut {
  color: inherit;
}
.chnh-sch-i-tr-hon-ti {
  margin: 0;
  font-family: inherit;
  font-size: var(--font-size-base);
  padding-left: var(--padding-2xl);
  color: var(--color-gray-200);
}
.h-tr-chnh-container {
  align-self: stretch;
  position: relative;
}
.support-link {
  width: 301px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 301px;
}
.dch-v {
  margin: 0;
}
.iu-khon-s {
  text-decoration: underline;
}
.iu-khon-s-dng1 {
  color: inherit;
}
.iu-khon-s-dng {
  margin-bottom: 0;
}
.chnh-sch-bo1 {
  text-decoration: underline;
}
.chnh-sch-bo-mt-thng-tin-c1 {
  color: inherit;
}
.chnh-sch-bo-mt-thng-tin-c {
  margin-bottom: 0;
}
.chnh-sch-bo2 {
  text-decoration: underline;
}
.chnh-sch-bo-mt-thanh-ton1 {
  color: inherit;
}
.chnh-sch-bo-mt-thanh-ton {
  margin-bottom: 0;
}
.gii-thiu-fahasa1 {
  text-decoration: underline;
}
.gii-thiu-fahasa {
  color: inherit;
}
.iu-khon-s-dng-chnh-sch-b {
  margin: 0;
  font-family: inherit;
  font-size: var(--font-size-base);
  padding-left: var(--padding-2xl);
  color: var(--color-gray-300);
}
.dch-v-iu-container {
  position: relative;
}
.dch-v-iu-khon-s-dng-ch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 317px;
}
.like-nhn {
  position: relative;
}
.services {
  justify-content: flex-start;
  gap: 76px;
  min-width: 664px;
}
.related-products,
.services,
.support-policies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.support-policies {
  width: 1100px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.related-products {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.related-products-title-parent,
.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: var(--font-inter);
}
.related-products-title-parent {
  align-self: stretch;
  gap: 86px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 75px;
  box-sizing: border-box;
  gap: 13px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 1400px) {
  .register {
    flex: 1;
  }
  .header {
    flex-wrap: wrap;
  }
  .phuongphapgiaivatlitheochuyend-icon,
  .product-image {
    flex: 1;
  }
  .rectangle-container {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .register {
    min-width: 100%;
  }
  .title {
    gap: var(--gap-11xl);
  }
  .related-products-list {
    flex-wrap: wrap;
  }
  .services,
  .support-link {
    flex: 1;
  }
  .support-policies {
    flex-wrap: wrap;
  }
  .related-products-title-parent {
    gap: 43px;
  }
}
@media screen and (max-width: 825px) {
  .navigation {
    flex-wrap: wrap;
  }
  .product-image {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .bi-tp-vt,
  .div {
    font-size: var(--font-size-7xl);
  }
  .quantity {
    min-width: 100%;
  }
  .related-products-list {
    gap: var(--gap-lgi);
  }
  .dch-v-iu-khon-s-dng-ch-wrapper {
    flex: 1;
  }
  .services {
    flex-wrap: wrap;
    gap: 38px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .nhp-t-kha {
    font-size: var(--font-size-base);
  }
  .sub-menu {
    flex-wrap: wrap;
  }
  .ng-nhp {
    font-size: var(--font-size-base);
  }
  .user-actions {
    gap: 24px;
  }
  .bi-tp-vt,
  .div,
  .phng-php-gii,
  .trang-ch {
    font-size: var(--font-size-lgi);
  }
  .heading {
    gap: 22px;
  }
  .div1,
  .s-lng {
    font-size: var(--font-size-3xl);
  }
  .div1 {
    line-height: 23px;
  }
  .quantity-label {
    flex-wrap: wrap;
  }
  .title {
    gap: 15px;
  }
  .rectangle-container {
    gap: var(--gap-11xl);
  }
  .sn-phm-cng {
    font-size: var(--font-size-3xl);
  }
  .bi-tp-hnh,
  .div2 {
    font-size: var(--font-size-lgi);
  }
  .second-policy {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .bi-tp-a,
  .div3 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .bi-tp-ting,
  .bi-tp-ton,
  .div4,
  .div5 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .related-products-list {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .like-nhn {
    font-size: var(--font-size-base);
  }
  .services {
    gap: var(--gap-lgi);
  }
  .related-products-title-parent {
    gap: var(--gap-2xl);
  }
}