body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.07);
  --color-gray-200: rgba(0, 0, 0, 0.75);
  --color-gray-300: rgba(0, 0, 0, 0.76);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.29);
  --color-gainsboro-300: rgba(217, 217, 217, 0.39);
  --color-crimson: #d52c2c;

  /* Gaps */
  --gap-2xl: 21px;
  --gap-xl: 20px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-12xl: 31px;
  --padding-7xs: 6px;
  --padding-36xl: 55px;
  --padding-2xs: 11px;
  --padding-10xl: 29px;
  --padding-16xl: 35px;
  --padding-13xl: 32px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-5xl: 24px;
}.fahasa-logo-1-icon {
    width: 479px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .blacklist-1-icon {
    height: 45px;
    width: 45px;
    position: relative;
    object-fit: cover;
  }
  .menu {
    position: absolute;
    background-color: #f0f0f0; /* Màu nền xám nhạt */
    border: 2px solid #ccc; /* Tăng độ dày border */
    padding: 15px; /* Tăng padding */
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng đậm hơn */
  }
  
  .menu a {
    display: block;
    padding: 8px; /* Tăng padding cho các mục */
    text-decoration: none;
    color: #333;
    font-size: 16px; /* Tăng kích thước chữ */
    transition: background-color 0.3s;
  }
  
  .menu a:hover {
    background-color: #e0e0e0;
  }
  .frame-child,
  .nhp-t-kha {
    position: relative;
    max-width: 100%;
  }
  .frame-child {
    height: 48px;
    width: 383px;
    background-color: var(--color-gainsboro-100);
    display: none;
  }
  .nhp-t-kha {
    flex: 1;
    display: inline-block;
    text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
      0-1px 0 transparent;
    z-index: 1;
  }
  .rectangle-parent {
    flex: 1;
    background-color: var(--color-gainsboro-100);
    flex-direction: row;
    align-items: flex-start;
    padding: 10.6px 0 6.7px var(--padding-smi);
    box-sizing: border-box;
    min-width: 249px;
  }
  .rectangle-parent,
  .register-button,
  .search-key-icon {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .register-button {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-2xl);
  }
  .search-key-icon {
    width: 449px;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0 0;
    box-sizing: border-box;
  }
  .key-icon-1 {
    height: 33px;
    width: 33px;
    position: relative;
    object-fit: cover;
  }
  .ng-k {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 75px;
  }
  .main-content,
  .product-image,
  .product-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-title {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .main-content,
  .product-image {
    flex-direction: row;
  }
  .main-content {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .lock-1-icon {
    height: 29px;
    width: 30px;
    position: relative;
    object-fit: cover;
    min-height: 29px;
  }
  .ng-nhp {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 104px;
  }
  .related-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .product-quantity {
    justify-content: flex-start;
    gap: 7px;
  }
  .breadcrumb,
  .product-quantity,
  .search-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .breadcrumb {
    justify-content: flex-start;
    gap: 49px;
    color: var(--color-white);
  }
  .search-input {
    align-self: stretch;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .fahasa-logo-1-parent,
  .header,
  .search-bar {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .search-bar {
    width: 865px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-6xs);
    min-width: 865px;
  }
  .fahasa-logo-1-parent,
  .header {
    flex-direction: row;
  }
  .fahasa-logo-1-parent {
    flex: 1;
    background-color: var(--color-crimson);
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px var(--padding-2xs) var(--padding-12xl) var(--padding-5xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .header {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xl);
  }
  .frame-item,
  .trang-ch a {
    position: relative;
    max-width: 100%;
    text-decoration: none; /* Loại bỏ gạch dưới */
    color: inherit; /* Dùng màu chữ của phần tử cha */
  }
  .frame-item {
    height: 48px;
    width: 1663px;
    background-color: var(--color-gray-100);
    display: none;
  }
  .trang-ch {
    width: 1547.5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.36), 0 1px 0 rgba(0, 0, 0, 0.36),
      -1px 0 0 rgba(0, 0, 0, 0.36), 0-1px 0 rgba(0, 0, 0, 0.36);
    z-index: 1;
  }
  .advertisement,
  .rectangle-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-group {
    flex: 1;
    background-color: var(--color-gray-100);
    justify-content: flex-end;
    padding: var(--padding-4xs) var(--padding-16xl) 10px;
  }
  .advertisement {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 30px;
  }
  .services-info-child,
  .social-media-child {
    position: relative;
    display: none;
    max-width: 100%;
  }
  .services-info-child {
    align-self: stretch;
    width: 1711px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .social-media-child {
    height: 625px;
    width: 754.4px;
    background-color: var(--color-gainsboro-200);
  }
  .cau-hoi-va-bai-tap-boi-duong-h-icon {
    height: 377px;
    width: 277px;
    position: relative;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .cau-hoi-va-bai-tap-boi-duong-h-icon:hover {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
  }
  .bi-tp-a,
  .social-media {
    max-width: 100%;
    z-index: 1;
  }
  .social-media {
    height: 625px;
    width: 754.4px;
    background-color: var(--color-gainsboro-200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 71px 216px;
    box-sizing: border-box;
    min-width: 754.4px;
  }
  .bi-tp-a {
    flex: 1;
    position: relative;
    display: inline-block;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .bi-tp-a-l-12-wrapper {
    width: 384.8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi);
    box-sizing: border-box;
    max-width: 100%;
  }
  .cu-hi-v {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .cu-hi-v-bi-tp-bi-dng-h-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-smi);
    box-sizing: border-box;
    max-width: 100%;
  }
  .div {
    width: 175.7px;
    position: relative;
    font-size: var(--font-size-13xl);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .frame-div {
    align-self: stretch;
    flex-direction: column;
    gap: 44px;
    font-size: var(--font-size-5xl);
  }
  .frame-container,
  .frame-div,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-container {
    flex: 1;
    flex-direction: column;
    gap: 37px;
  }
  .frame-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-8xs);
    box-sizing: border-box;
  }
  .s-lng {
    position: relative;
    display: inline-block;
    min-width: 126px;
    z-index: 1;
  }
  .s-lng-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
  }
  .frame-inner {
    height: 50px;
    width: 124px;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .div1 {
    flex: 1;
    position: relative;
    line-height: 28.3px;
    z-index: 1;
  }
  .rectangle-container {
    width: 124px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) var(--padding-36xl);
    z-index: 1;
  }
  .frame-group,
  .frame-parent1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    width: 322px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-9xl);
  }
  .frame-group {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 61px;
  }
  .rectangle-div,
  .thm-vo-gi {
    position: relative;
    max-width: 100%;
  }
  .rectangle-div {
    height: 60px;
    width: 493.1px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
  }
  .thm-vo-gi {
    height: 57px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.71), 0 1px 0 rgba(0, 0, 0, 0.71),
      -1px 0 0 rgba(0, 0, 0, 0.71), 0-1px 0 rgba(0, 0, 0, 0.71);
    z-index: 1;
  }
  .frame-wrapper1,
  .group-div {
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
  }
  .group-div {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-4xs) 0;
    white-space: nowrap;
    z-index: 1;
  }
  .frame-wrapper1 {
    width: 531.2px;
    padding: 0 19px;
    text-align: center;
    font-size: var(--font-size-9xl);
  }
  .frame-parent,
  .frame-wrapper1,
  .services-info,
  .services-info-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 81px;
    max-width: 100%;
  }
  .services-info,
  .services-info-inner {
    box-sizing: border-box;
  }
  .services-info-inner {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
    min-width: 548px;
    max-width: 100%;
  }
  .services-info {
    width: 1709px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    flex-direction: row;
    padding: 0 0 0 var(--padding-10xl);
    gap: 82px;
    max-width: 103%;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .sn-phm-cng {
    position: relative;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.84), 0 1px 0 rgba(0, 0, 0, 0.84),
      -1px 0 0 rgba(0, 0, 0, 0.84), 0-1px 0 rgba(0, 0, 0, 0.84);
  }
  .sn-phm-cng-b-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
  }
  .frame-child1,
  .frame-child2 {
    position: relative;
    display: none;
  }
  .frame-child1 {
    height: 449px;
    width: 1308px;
    background-color: var(--color-gainsboro-300);
    max-width: 100%;
  }
  .frame-child2 {
    align-self: stretch;
    height: 399px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .hoa12-1-icon {
    height: 241px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .hoa12-1-icon:hover{
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
  }
  .hoa12-1-wrapper {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 41px;
    box-sizing: border-box;
  }
  .bi-tp-ha,
  .div2 {
    position: relative;
    z-index: 1;
  }
  .bi-tp-ha {
    align-self: stretch;
  }
  .div2 {
    width: 110px;
    display: inline-block;
    min-width: 110px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 78px 0 76px;
    color: var(--color-crimson);
  }
  .frame-child3,
  .rectangle-parent2 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    width: 266.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 var(--padding-7xs);
    gap: 29.5px;
    z-index: 1;
  }
  .frame-child3 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .nguvan12-1-icon {
    height: 225px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .nguvan12-1-icon:hover{
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
  }
  .nguvan12-1-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 27px 0 var(--padding-13xl);
  }
  .n-luyn-ng {
    position: relative;
    z-index: 2;
  }
  .frame-parent3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }
  .div3 {
    position: relative;
    display: inline-block;
    min-width: 103px;
    z-index: 2;
  }
  .container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 63px 0 70px;
    color: var(--color-crimson);
  }
  .frame-child4,
  .rectangle-parent3 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 33px var(--padding-12xl) var(--padding-7xs) 26px;
    gap: var(--gap-10xl);
    min-width: 192px;
    z-index: 1;
  }
  .frame-child4 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .bai-tap-tieng-anh-12-khong-dap-icon {
    height: 253px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
  }
  .bai-tap-tieng-anh-12-khong-dap-icon:hover{
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
  }
  .bai-tap-tieng-anh-12-khong-dap-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-3xl) 0 23px;
  }
  .bi-tp-ting,
  .div4 {
    position: relative;
    z-index: 1;
  }
  .bi-tp-ting {
    align-self: stretch;
  }
  .div4 {
    width: 110px;
    display: inline-block;
    min-width: 110px;
  }
  .frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 59px 0 64px;
    color: var(--color-crimson);
  }
  .bi-tp-ting-anh-12-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-child5,
  .rectangle-parent4 {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    flex: 0.9873;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-12xl) var(--padding-13xl) var(--padding-7xs) 28px;
    gap: var(--gap-lg);
    min-width: 192px;
    z-index: 1;
  }
  .frame-child5 {
    width: 295px;
    height: 399px;
    position: relative;
    display: none;
  }
  .toan12-1-icon {
    align-self: stretch;
    height: 253px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .toan12-1-icon:hover{
    transform: scale(1.1); /* Phóng to ảnh khi hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
  }
  .bi-tp-ton,
  .div5,
  .toan12-1-icon {
    position: relative;
    z-index: 1;
  }
  .bi-tp-ton {
    align-self: stretch;
  }
  .div5 {
    width: 110px;
    display: inline-block;
    min-width: 110px;
  }
  .wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-10xl) 0 var(--padding-16xl);
    color: var(--color-crimson);
  }
  .bi-tp-ton-12-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-10xl);
  }
  .frame-wrapper3,
  .rectangle-parent5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper3 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-2xs) 0 2px;
  }
  .rectangle-parent5 {
    flex: 0.7924;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--padding-12xl) 51px var(--padding-7xs) var(--padding-36xl);
    gap: var(--gap-lg);
    min-width: 192px;
    z-index: 1;
  }
  .rectangle-parent1 {
    align-self: stretch;
    background-color: var(--color-gainsboro-300);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-6xl) var(--padding-xl) var(--padding-6xl)
      var(--padding-3xl);
    box-sizing: border-box;
    gap: 38.2px;
    font-size: var(--font-size-5xl);
  }
  .frame-parent2,
  .frame-wrapper2,
  .rectangle-parent1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent2 {
    width: 1308px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-2xl);
  }
  .frame-wrapper2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-4xs) var(--padding-2xl);
    box-sizing: border-box;
  }
  .quangcao-1-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .h-tr {
    margin: 0;
  }
  .chnh-sch-i {
    text-decoration: underline;
  }
  .chnh-sch-i-tr-hon-ti2 {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti1 {
    margin-bottom: 0;
  }
  .chnh-sch-bo {
    text-decoration: underline;
  }
  .chnh-sch-bo-hnh-bi-hon1 {
    color: inherit;
  }
  .chnh-sch-bo-hnh-bi-hon {
    margin-bottom: 0;
  }
  .chnh-sch-vn {
    text-decoration: underline;
  }
  .chnh-sch-vn-chuyn1 {
    color: inherit;
  }
  .chnh-sch-vn-chuyn {
    margin-bottom: 0;
  }
  .chnh-sch-khch {
    text-decoration: underline;
  }
  .chnh-sch-khch-s1 {
    color: inherit;
  }
  .chnh-sch-khch-s {
    margin-bottom: 0;
  }
  .phng-thc-thanh {
    text-decoration: underline;
  }
  .phng-thc-thanh-ton-v-xut {
    color: inherit;
  }
  .chnh-sch-i-tr-hon-ti {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-200);
  }
  .h-tr-chnh-container {
    align-self: stretch;
    position: relative;
  }
  .h-tr-chnh-sch-i-tr-wrapper {
    width: 301px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 301px;
  }
  .dch-v {
    margin: 0;
  }
  .iu-khon-s {
    text-decoration: underline;
  }
  .iu-khon-s-dng1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thng-tin-c,
  .iu-khon-s-dng {
    margin-bottom: 0;
  }
  .chnh-sch-bo1 {
    text-decoration: underline;
  }
  .chnh-sch-bo-mt-thanh-ton1 {
    color: inherit;
  }
  .chnh-sch-bo-mt-thanh-ton {
    margin-bottom: 0;
  }
  .gii-thiu-fahasa1 {
    text-decoration: underline;
  }
  .gii-thiu-fahasa {
    color: inherit;
  }
  .iu-khon-s-dng-chnh-sch-b {
    margin: 0;
    font-family: inherit;
    font-size: var(--font-size-base);
    padding-left: var(--padding-2xl);
    color: var(--color-gray-300);
  }
  .dch-v-iu-container {
    position: relative;
  }
  .dch-v-iu-khon-s-dng-ch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 317px;
  }
  .like-nhn {
    position: relative;
  }
  .frame-parent5 {
    justify-content: flex-start;
    gap: 76px;
    min-width: 664px;
  }
  .frame-parent4,
  .frame-parent5,
  .frame-wrapper4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent4 {
    width: 1100px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper4 {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .frame-section,
  .root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: var(--font-inter);
  }
  .frame-section {
    align-self: stretch;
    gap: 86px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-black);
  }
  .root {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 0 0 75px;
    box-sizing: border-box;
    gap: 13px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: rgba(0, 0, 0, 0.9);
  }
  @media screen and (max-width: 1400px) {
    .search-bar {
      flex: 1;
    }
    .fahasa-logo-1-parent {
      flex-wrap: wrap;
    }
    .cau-hoi-va-bai-tap-boi-duong-h-icon,
    .social-media {
      flex: 1;
    }
    .services-info {
      flex-wrap: wrap;
      padding: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1200px) {
    .search-bar,
    .social-media {
      min-width: 100%;
    }
    .frame-group {
      gap: 30px;
    }
    .frame-parent {
      gap: 40px;
    }
    .rectangle-parent1 {
      flex-wrap: wrap;
    }
    .frame-parent5,
    .h-tr-chnh-sch-i-tr-wrapper {
      flex: 1;
    }
    .frame-parent4 {
      flex-wrap: wrap;
    }
    .frame-section {
      gap: 43px;
    }
  }
  @media screen and (max-width: 825px) {
    .search-input {
      flex-wrap: wrap;
    }
    .social-media {
      padding: 46px 108px;
      box-sizing: border-box;
    }
    .bi-tp-a,
    .div {
      font-size: var(--font-size-7xl);
    }
    .services-info-inner {
      min-width: 100%;
    }
    .services-info {
      gap: 41px;
    }
    .rectangle-parent1 {
      gap: var(--gap-lgi);
    }
    .dch-v-iu-khon-s-dng-ch-wrapper {
      flex: 1;
    }
    .frame-parent5 {
      gap: 38px;
      flex-wrap: wrap;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .nhp-t-kha {
      font-size: var(--font-size-base);
    }
    .register-button {
      flex-wrap: wrap;
    }
    .ng-nhp {
      font-size: var(--font-size-base);
    }
    .breadcrumb {
      gap: 24px;
    }
    .trang-ch {
      font-size: var(--font-size-lgi);
    }
    .social-media {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .bi-tp-a,
    .cu-hi-v,
    .div {
      font-size: var(--font-size-lgi);
    }
    .frame-div {
      gap: 22px;
    }
    .frame-container {
      gap: var(--gap-lg);
    }
    .div1,
    .s-lng {
      font-size: var(--font-size-3xl);
    }
    .div1 {
      line-height: 23px;
    }
    .frame-group {
      gap: 15px;
    }
    .frame-parent,
    .services-info {
      gap: var(--gap-xl);
    }
    .sn-phm-cng {
      font-size: var(--font-size-3xl);
    }
    .bi-tp-ha,
    .div2 {
      font-size: var(--font-size-lgi);
    }
    .wrapper {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .bi-tp-ting,
    .div3,
    .div4,
    .n-luyn-ng {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent4 {
      flex: 1;
    }
    .bi-tp-ton,
    .div5 {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent5 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .rectangle-parent1 {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .like-nhn {
      font-size: var(--font-size-base);
    }
    .frame-parent5 {
      gap: var(--gap-lgi);
    }
    .frame-section {
      gap: var(--gap-2xl);
    }
  }
  .quantity-control {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Hoặc màu sắc bạn muốn */
    border-radius: 5px; /* Bo tròn góc */
  }
  
  .decrease, .increase {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity {
    width: 30px; /* Điều chỉnh độ rộng nếu cần */
    text-align: center;
  }