/* admin.css */

/* Style cho phần header */
header {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

header .logo {
  width: 50px; /* kích thước logo */
  height: auto;
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #007bff;
}
#logout-button {
  position: absolute; /* Đặt vị trí tuyệt đối cho nút */
  top: 10px; /* Khoảng cách từ mép trên của màn hình */
  right: 10px; /* Khoảng cách từ mép phải của màn hình */
  padding: 10px 20px; /* Đệm bên trong nút */
  background-color: #f44336; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  border: none; /* Loại bỏ viền mặc định */
  border-radius: 5px; /* Bo góc nút */
  cursor: pointer; /* Biểu tượng con trỏ chuột khi di chuột qua nút */
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi mượt mà cho màu nền */
}

#logout-button:hover {
  background-color: #d32f2f; /* Màu nền đỏ đậm hơn khi di chuột qua */
}