.avatar-1-icon {
  height: 65px;
  width: 74px;
  position: relative;
  object-fit: cover;
}
.admin {
  text-decoration: none;
  position: relative;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 56px;
}
.customer-menu,
.sidebar-items {
  display: flex;
  align-items: flex-start;
}
.sidebar-items {
  flex-direction: column;
  justify-content: flex-start;
  padding: 23px 0 0;
}
.customer-menu {
  width: 163px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.qun-l-danh {
  flex: 1;
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.title-wrapper {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.qun-l-ha,
.qun-l-sn {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.qun-l-sn {
  width: 238px;
  display: inline-block;
}
.qun-l-ha {
  flex: 1;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 var(--padding-11xs);
}
.ti-khon-khch {
  flex: 1;
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.menu-options {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 var(--padding-12xs);
}
.ti-khon-admin {
  height: 42px;
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: pre-wrap;
}
.account-menu,
.navbar,
.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-menu {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.navbar,
.sidebar {
  flex-direction: column;
}
.navbar {
  margin-left: -24px;
  width: 280px;
  gap: 45px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.sidebar {
  width: 236px;
  background-color: #125f77;
  overflow: hidden;
  flex-shrink: 0;
  padding: 29px 22px 342px;
  box-sizing: border-box;
  gap: 75px;
}
.fahasa-logo-1-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 332px;
  max-height: 100%;
  width: 619px;
  object-fit: cover;
}
.logo-container,
.root {
  max-width: 100%;
  overflow: hidden;
}
.logo-container {
  height: 108px;
  flex: 1;
  position: sticky;
  background-color: rgba(246, 0, 0, 0.89);
  top: 0;
  z-index: 99;
}
.root {
  width: 1581px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 16px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 675px) {
  .sidebar {
    padding-top: 20px;
    padding-bottom: 222px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    gap: 22px;
  }
  .sidebar {
    gap: 37px;
  }
}